extends layout

block content
    form#addProductForm
        h3 <b> Add Game </b>
        label#errorLabel
        br
        label(for='title') Title:
        input#title(type='text' name='title')
        br
        label(for='price') Price:
        input#price(type='number' name='price')
        br
        label(for='picture') Picture:
        input#picture(type='text' name='picture')
        br
        label(for='fsk') FSK:
        input#fsk(type='number' name='fsk')
        br
        label(for='description') Description:
        input#description(type='text' name='description')
        br
        label(for='studio_id') Studio_id:
        input#studio_id(type='number' name='studio_id')
        br
        button#addGame add Game
    script.
        document.getElementById('addGame')?.addEventListener('click', function (form) {
        form.preventDefault();
        let data = {
            title: document.getElementById('title').value,
            price: document.getElementById('price').value,
            picture: document.getElementById('picture').value,
            fsk: document.getElementById('fsk').value,
            description: document.getElementById('description').value,
            studio_id: document.getElementById('studio_id').value
        };
        fetch('/addGame', {
            method: 'POST',
            headers: {
             'Accept': 'application/json',
             'Content-Type': 'application/json'
          },
            body: JSON.stringify(data)
          }).then(function (response) {

          response.text().then(function (text) {
            if (!response.ok) {
                setErrorLabel(err);
            }else {
                window.location = '/games'
            }
          });
        });
        });
          
