extends layout

block content
    button(onclick="window.location.href = '/'") Startseite 
    h3 Games
    each val in games 
        div(class = 'game')
            p <b> #{val.title}</b>
            p #{val.price}
            br
            button
                a(href= '/games/' + val.game_id ) Details