extends layout

block content
    div.startButton
        button#startButton(onclick="window.location.href = '/'") Mainpage
    h3.usersTitle Users
    div.userList
        each val in users 
            div(class= 'user')
                p <b> #{val.username}:</b> #{val.name}
                p  <b> email:</b> #{val.email}
                button
                    a(href= '/users/' + val.user_id ) Details